@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans+Condensed:wght@300&family=PT+Sans&display=swap');

/* 
titles
font-family: 'Bree Serif', serif;

questions/answers
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif; 
*/

body {
  background: #0B195A;
  color: #fff;
  text-align: center;
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bree Serif', serif;
}

p {
  font-family: 'Open Sans Condensed', sans-sereif;
}
