@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans+Condensed:wght@300&display=swap');

body {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 62.5%;
  box-sizing: border-box;
  background-image: url('./img/pasta-pattern.png');
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Heebo', sans-serif;
}


